.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 980px;
}

.container-header {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 1240px;
}

.container-footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4px 0 20px;
  width: 883px;
}

@media(max-width:$desktop) {
  .container-header {
    padding: 0 20px;
    width: 980px;
  }
  
  .container-footer {
    padding: 0 20px;
    width: 980px;
  }
}