.form {
  padding: 20px;
  border-radius: 5px;

  background-color: $white;
}

.form__label {
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-size: 22px;
  color: $black;
}

.form__label > * {
  align-self: center
}

.form__title {
  visibility: hidden;
  display: block;
  margin-left: auto;
  padding: 10px 20px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  font-size: 22px;
  color: $white;

  background-color: $secondary-color-2;
  border-radius: 10px;
}

.form__input {
  display: block;
  margin: 10px 0;
  padding: 10px;

  grid-column-start: 1;
  grid-column-end: 3;

  font-size: 22px;
  color: $black;

  border: 1px solid green;
  border-radius: 5px;

  outline: none;

  &:focus,
  &:hover,
  &:active{
    border: 1px solid $secondary-color-2;
  }

  &:focus~.form__title ,
  &:hover~.form__title ,
  &:active~.form__title {
    visibility: visible;
  }
}

.form__button {
  @include hover();

  margin: 30px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 195px;
  max-width: 100%;

  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;

  border: none;
  border-radius: 60px;
  background-color: $accent-color;
}

.form__text {
  font-size: 20px;

  opacity: 0.6;
}

@media(max-width:650px) {
  .form {
    padding: 20px 15px;
  }

  .form__label {
    display: flex;
    flex-direction: column;
  }

  .form__label span:first-child {
    order: 1;
    align-self: flex-start;
  }

  .form__input {
    width: 100%;
  }

  .form__title {
    margin: 8px 0;
    padding: 0 8px;

    order: 2;
    align-self: flex-end;
  }

  .form__input {
    order: 3;
  }
}
