.main {
  background-color: $secondary-color-1;
}

.main__section {
  height: 50vh;
  padding: 20px;

  background-color: $primary-color-1;
  border: 3px solid $primary-color-2;
  border-radius: 25px;
}
