.main {
  background-color: $secondary-color-1;
}

.main__section {
  margin: 20px 0;
  padding: 20px 20px 40px;

  background-color: $primary-color-1;
  border: 3px solid $primary-color-2;
  border-radius: 25px;
}
