$desktop: 1280px;
$min-desktop: 1000px;
$tablet: 767px;

$white: #ffffff;
$black: #000000;
$black-08-opacity: rgba(0, 0, 0, 0.8);

$primary-color-1: #ffa500;
$primary-color-2: #ffff00;

$secondary-color-1: #0079f0;
$secondary-color-2: #0171c9;

$accent-color: #ff0000;

$galien: "Galien", "Arial", sans-serif;
$gilroy: "Gilroy", "Arial", sans-serif;


