$desktop: 1280px;
$min-desktop: 1000px;
$tablet: 767px;

$white: #ffffff;
$black: #000000;
$black-08-opacity: rgba(0, 0, 0, 0.8);

$text-color: #316099;

$primary-color: #316099;
$primary-dark-color: #1F3F68;
$primary-opacity-color: rgba(31, 63, 104, 0.2);

$primary-middle-color: #356EAD;
$primary-light-color: #5A98D0;
$primary-ultra-light-color: #98C3E8;

$secondary-color: #E33439;

$galien: "Galien", "Arial", sans-serif;
$gilroy: "Gilroy", "Arial", sans-serif;

$link-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
$card-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
$form-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
$main-gradient: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);

